/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.mainPage{
  margin: 40px;
  border: 1px solid black;
  padding: 20px;
}

.finalPage{
  margin: 40px;
  border: 1px solid black;
  padding: 20px;
}

.score{
  text-align: right;
}

h1{
  text-align: center;
}

